In [1]:
import pymysql.cursors
#to connect mysql to python

connection = pymysql.connect(host='localhost',
                             user='root',
                             cursorclass=pymysql.cursors.DictCursor)

In [2]:
#to print the results in a better way
def printResults(records):
    print('\t'.join([str(r).ljust(15) for r in records[0].keys()]))
    
    for record in records:
        print('\t'.join([str(r).ljust(15) for r in record.values()]))

In [3]:
#to avoid any mistakes,just in case there is drop
with connection.cursor() as cursor:
    cursor.execute("drop database Agency")

In [4]:
with connection.cursor() as cursor:
        
        cursor.execute("CREATE DATABASE Agency")#to create the database Agency
        cursor.execute("Use Agency")#to be able to use the database that's created
        #to create the tables by declaring their variables like int,varchar
        cursor.execute("CREATE TABLE Manager(mgr_id int primary key,mgr_name varchar(20),mgr_lastname varchar(20),mgr_sex varchar(6),mgr_salary int)")
        cursor.execute("CREATE TABLE Celebrity(celeb_id int primary key,celeb_name varchar(20),celeb_lastname varchar(20),celeb_job varchar(20),celeb_sex varchar(6),celeb_tel int)")
        cursor.execute("create table Project(p_id int primary key,p_name varchar(20),p_type varchar(20))")
        #since the Contract entity is a weak entity composite primary key is used in here
        #also p_id and celeb_id are foreign keys for the contract table
        cursor.execute("create table Contract(contract_no int ,p_id int,celeb_id int,sign_date date, exp_date date, primary key(contract_no,p_id,celeb_id),foreign key (p_id) references Project(p_id),foreign key (celeb_id) references Celebrity(celeb_id) )")

In [5]:
with connection.cursor() as cursor:
    #to insert the values into the Manager table
    mng = "INSERT INTO Manager (mgr_id, mgr_name, mgr_lastname, mgr_sex, mgr_salary) VALUES (%s, %s, %s,%s,%s)"

    mng_val = [
    (1,'Kirac','Ozdal','Male',20000),
    (2,"Gülin","Kaya","Female",4000),
    (3,"Cinar","Guven","Male",15000),
    (4,"Emrah","Kara","Male",4000),
    (5,"Feris","Ozgur","Female",18000),
    (6,"Dicle","Ertem","Female",4000)
]

    cursor.executemany(mng, mng_val)
connection.commit()

In [6]:
with connection.cursor() as cursor:
    #to insert the values into the Celebrity table
    cel = "insert into Celebrity (celeb_id, celeb_name, celeb_lastname, celeb_job,celeb_sex,celeb_tel) values (%s,%s,%s,%s,%s,%s)"
    
    cel_val = [
        (1,"Baris","Havas","Actor","Male",3334444),
        (2,"Edis","Gorgulu","Singer","Male",4445555),
        (3,"Kivanc","Tatlitug","Actor","Male",5556666),
        (4,"Serenay","Sarikaya","Actress","Female", 6667777),
        (5,"Lana","Del Rey","Singer","Female",7778888)
    
        
    ]
    
    cursor.executemany(cel, cel_val)
connection.commit()

In [7]:
with connection.cursor() as cursor:
    #to insert the values into the Project table
    proj = "insert into Project (p_id, p_name, p_type) values (%s,%s,%s)"
    
    proj_val = [(1,"PeriMasalim","series"),
                (2,"An","musicalbum"),
                (3,"KuzeyGuney","series"),
                (4,"Alice","musical"),
                (5,"WorldTour","concert")
        
    ]
    
    cursor.executemany(proj, proj_val)
connection.commit()

In [8]:
with connection.cursor() as cursor:
    #to insert the values into the Contract
    cont = "insert into Contract (contract_no, p_id ,celeb_id,sign_date, exp_date) values (%s,%s,%s,%s,%s)"
    
    cont_val = [(1,1,1,"2020-03-12","2024-03-12"),
                (2,2,2,"2018-03-07","2023-03-07"),
                (3,3,3,"2010-05-06","2015-05-06"),
                (4,4,4,"2019-04-23","2021-04-23"),
                (5,5,5,"2013-09-22","2018-09-22")
                 
        
    ]
    
    cursor.executemany(cont, cont_val)
connection.commit()

In [9]:
with connection.cursor() as cursor:
    #this is just for trying
    
    cursor.execute("select * from Manager")
    news = cursor.fetchall()
    printResults(news)

mgr_id         	mgr_name       	mgr_lastname   	mgr_sex        	mgr_salary
1              	Kirac          	Ozdal          	Male           	20000
2              	Gülin          	Kaya           	Female         	4000
3              	Cinar          	Guven          	Male           	15000
4              	Emrah          	Kara           	Male           	4000
5              	Feris          	Ozgur          	Female         	18000
6              	Dicle          	Ertem          	Female         	4000

In [10]:
#create user interface
#to be able to add new records to the tables, here's the functions that are needed to insert new values into the tables
def insertManager(mgr_id, mgr_name, mgr_lastname, mgr_sex, mgr_salary):
        with connection.cursor() as cursor:  
            sql = "INSERT INTO Manager (mgr_id, mgr_name, mgr_lastname, mgr_sex, mgr_salary) VALUES (%s, %s, %s,%s,%s)"
            vals= (mgr_id, mgr_name, mgr_lastname, mgr_sex, mgr_salary)
            cursor.execute(sql, vals)
            connection.commit()
            
            
def insertCelebrity(celeb_id, celeb_name, celeb_lastname, celeb_job,celeb_sex,celeb_tel):
        with connection.cursor() as cursor:  
            celsql = "INSERT INTO Celebrity (celeb_id, celeb_name, celeb_lastname, celeb_job,celeb_sex,celeb_tel) VALUES (%s, %s, %s,%s,%s,%s)"
            celvals= (celeb_id, celeb_name, celeb_lastname, celeb_job,celeb_sex,celeb_tel)
            cursor.execute(celsql, celvals)
            connection.commit()
            
            
def insertProject(p_id, p_name, p_type):
        with connection.cursor() as cursor:  
            projsql = "INSERT INTO Project (p_id, p_name, p_type) VALUES (%s, %s, %s)"
            projvals= (p_id, p_name, p_type)
            cursor.execute(projsql, projvals)
            connection.commit()
            
            
def insertContract(contract_no, p_id ,celeb_id,sign_date, exp_date):
        with connection.cursor() as cursor:  
            contsql = "INSERT INTO Contract (contract_no, p_id ,celeb_id,sign_date, exp_date) VALUES (%s, %s, %s,%s,%s)"
            contvals= (contract_no, p_id ,celeb_id,sign_date, exp_date)
            cursor.execute(contsql,contvals)
            connection.commit()
#to always come back to the starting menu while true is used
while True: 
    #to create a simple user interface and ask the user which operation they want to use
    print("Please select one of the operations below \n [N]ew Record \n [S]how Table \n [A]dvanced Command \n [C]ommit Changes \n [D]rop Table \n [E]xit")
    

    
#to ask the user which option they will use
    option=input("option:")
    if (option=="n"): #if they enter n it means they want to add new record
        table=input("Enter table name:") # to which table they want to insert
        if (table=="manager"): #if they want to add to manager table
            #to enter all the new attributes of the manager table
                mgr=input("Enter attribute:mgr_id ")
                mgr_id=mgr
                name=input("enter attribute:mgr_name")
                mgr_name=name
                lname=input("enter attribute:mgr_lname")
                mgr_lname=lname
                sex=input("enter attribute:mgr_sex")
                mgr_sex=sex
                salary=input("enter attribute:mgr_salary")
                mgr_salary=salary

                insertManager(mgr,name,lname,sex,salary)#to insert the new attributes written by the user

        elif (table=="celebrity"): # if they want to add to celebrity table
            #to enter all the new attributes of the celebrity table
                cel=input("Enter attribute:celeb_id ")
                celeb_id=cel
                name=input("enter attribute:celeb_name")
                celeb_name=name
                lname=input("enter attribute:celeb_lname")
                celeb_lname=lname
                job=input("enter attribute:celeb_job")
                celeb_job=job
                sex=input("enter attribute:celeb_sex")
                celeb_sex=sex
                tel=input("enter attribute:celeb_tel")
                celeb_tel=tel

                insertCelebrity(cel,name,lname,job,sex,tel)#to insert the new attributes written by the user

        elif (table=="project"): # if they want to add to project table
            #to enter all the new attributes of the project table
                proj=input("Enter attribute:p_id ")
                p_id=proj
                name=input("enter attribute:p_name")
                p_name=name
                type=input("enter attribute:p_type")
                p_type=type

                insertProject(proj,name,type) #to insert the new attributes written by the user

        elif (table=="contract"):# if they want to add to contract table
            #to enter all the new attributes of the contract table
                cont=input("Enter attribute:contract_no ")
                contract_no=cont
                projid=input("enter attribute:p_id")
                p_id=projid
                cel=input("enter attribute:celeb_id")
                celeb_id=cel
                date=input("enter attribute:sign_date")
                sign_date=date
                exp=input("enter attribute:exp_date")
                exp_date=exp
                insertContract(cont,projid,cel,date,exp)

        print("New record inserted") #to let the user know that the new record added to the table
        option=input("option:")   


    if (option=="s"): #if they enter s it means they want to show the tables
        table=input("Enter table name:") #to ask which table they want to see
        if (table=="manager"): #if they want to see the manager table
            with connection.cursor() as cursor:
                cursor.execute("Select * from Manager") #to select all the values from the manager table
                new_customer=cursor.fetchall()
                printResults(new_customer) #and to print all values of the manager table
        elif (table=="celebrity"): #if they want to see the celebrity table
            with connection.cursor() as cursor:
                cursor.execute("Select * from Celebrity") #to select all the values from the celebrity table
                new_celebrity=cursor.fetchall()
                printResults(new_celebrity) #and to print all values of the celebrity table
        elif(table=="project"):
            with connection.cursor() as cursor:
                cursor.execute("Select * from Project") #to select all the values from the project table
                new_project=cursor.fetchall()
                printResults(new_project) #and to print all values of the project table
        elif(table=="contract"):
            with connection.cursor() as cursor:
                cursor.execute("Select * from Contract")#to select all the values from the contract table
                new_contract=cursor.fetchall()
                printResults(new_contract)#and to print all values of the contract table

        option=input("option:")   

    if (option=="a"): #if they enter a it means they want to make some advanced operations
        print("make some advanced operations")
        command=input("advanced command:")
        with connection.cursor() as cursor:
            cursor.execute(command)
            new=cursor.fetchall()
            printResults(new)
            
 #additonal function drop   
    if(option=="d"): # if they enter d it means they want to drop tables
        table=input("Enter table name:")#to ask the user which table they want to drop
        if (table=="manager"): #if they say manager 
            with connection.cursor() as cursor:

                dropmng= ("Drop table Manager")
                #dropmng=("Drop table" + \n + table)
                cursor.execute(dropmng)
                connection.commit()
                print(table + "is dropped") #to inform the user that the table they chose is dropped
                
        elif (table=="celebrity"):
            with connection.cursor() as cursor:

                dropceleb= ("Drop table Celebrity")
                #dropmng=("Drop table" + \n + table)
                cursor.execute(dropceleb)
                connection.commit()
                print(table + "is dropped")#to inform the user that the celebrity table they chose is dropped
                
        elif (table=="project"):
            with connection.cursor() as cursor:

                dropproj= ("Drop table Project")
                #dropmng=("Drop table" + \n + table)
                cursor.execute(dropproj)
                connection.commit()
                print(table + "is dropped") #to inform the user that the project table they chose is dropped
                
        elif (table=="contract"):
            with connection.cursor() as cursor:

                dropcont= ("Drop table Contract")
                #dropmng=("Drop table" + \n + table)
                cursor.execute(dropcont)
                connection.commit()
                print(table + "is dropped") #to inform the user that the contract table they chose is dropped
    #additional function commit            
    if(option=="c"): #if they enter c it means they want to commit changes
        with connection.cursor() as cursor:
            connection.commit()
            print("Changes are Committed") #to inform the user the changes are committed
            
    if(option=="e"): #if they enter e it means they want to exit the program
        print("bye") #to inform the user the program is finished it says bye when they say exit
        break #to avoid it getting in the while loop
        
    #elif (option!="n" or option!="s" or option!="a" or option!="d" or option!="e"):
     #   print("please enter valid operations")
        
    else:
        print("please enter valid operations") # if the user enters anything else it will warn them to enter valid operation

Please select one of the operations below
 [N]ew Record
 [S]how Table
 [A]dvanced Command
 [C]ommit Changes
 [D]rop Table
 [E]xit
option:n
Enter table name:manager
Enter attribute:mgr_id 7
enter attribute:mgr_nametuce
enter attribute:mgr_lnamegursu
enter attribute:mgr_sexfemale
enter attribute:mgr_salary7000
New record inserted
option:s
Enter table name:manager
mgr_id         	mgr_name       	mgr_lastname   	mgr_sex        	mgr_salary
1              	Kirac          	Ozdal          	Male           	20000
2              	Gülin          	Kaya           	Female         	4000
3              	Cinar          	Guven          	Male           	15000
4              	Emrah          	Kara           	Male           	4000
5              	Feris          	Ozgur          	Female         	18000
6              	Dicle          	Ertem          	Female         	4000
7              	tuce           	gursu          	female         	7000
option:wq
please enter valid operations
Please select one of the operations below
 [N]ew Record
 [S]how Table
 [A]dvanced Command
 [C]ommit Changes
 [D]rop Table
 [E]xit
option:a
make some advanced operations
advanced command:select * from celebrity inner join contract on celebrity.celeb_id=contract.celeb_id
celeb_id       	celeb_name     	celeb_lastname 	celeb_job      	celeb_sex      	celeb_tel      	contract_no    	p_id           	contract.celeb_id	sign_date      	exp_date
1              	Baris          	Havas          	Actor          	Male           	3334444        	1              	1              	1              	2020-03-12     	2024-03-12
2              	Edis           	Gorgulu        	Singer         	Male           	4445555        	2              	2              	2              	2018-03-07     	2023-03-07
3              	Kivanc         	Tatlitug       	Actor          	Male           	5556666        	3              	3              	3              	2010-05-06     	2015-05-06
4              	Serenay        	Sarikaya       	Actress        	Female         	6667777        	4              	4              	4              	2019-04-23     	2021-04-23
5              	Lana           	Del Rey        	Singer         	Female         	7778888        	5              	5              	5              	2013-09-22     	2018-09-22
please enter valid operations
Please select one of the operations below
 [N]ew Record
 [S]how Table
 [A]dvanced Command
 [C]ommit Changes
 [D]rop Table
 [E]xit
option:c
Changes are Committed
please enter valid operations
Please select one of the operations below
 [N]ew Record
 [S]how Table
 [A]dvanced Command
 [C]ommit Changes
 [D]rop Table
 [E]xit
option:e
bye

In [ ]:
#i tried to add an additional funciton for deleting but it didnt work
def deleteProject(p_id, p_name, p_type):
        with connection.cursor() as cursor:  
            projsql = "Delete from Project (p_id, p_name, p_type) where cond "
            cursor.execute(projsql, projvals)
            connection.commit()
            cursor.execute("Select * from Project")
            new_project=cursor.fetchall()
            printResults(new_project)

option=input("option:")
if (option=="delete"):
    table=input("Enter table name:")
    if (table=="project"):
        cond=input("enter the condition that you want to delete")
        deleteProject(p_id, p_name, p_type)